body{
    font-family: 'Lato', arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: beige !important;
}

li{
    font-weight: 400;
}

#nationTable td:first-child{
    width:200px;
}

#nationTable span{
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

#nationTable span:last-child{
    padding-bottom: 50;
}

.orange{
    color: #ff5e00;
}